.footer{
    height: 3em;
    padding-top: 8em;
}
.font{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cfc4c2;
    color: #5C4844;
    list-style: none;
}
.logo{
    color: #5C4844;
    font-size: 20px;
}
