.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 20px;
    margin-top: 3rem;
    background-color: #eee8ed;
    color: #8b6f68;
  }
  .contTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 3rem;
    margin-left: 5%;
}